// @import "bootstrap-sprockets";

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/forms";
@import "bootstrap/utilities";
@import "bootstrap/grid";
@import "bootstrap/responsive-embed";
@import "bootstrap/type";
@import "bootstrap/input-groups";
@import "bootstrap/forms";
@import "bootstrap/scaffolding";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/jumbotron";
@import "bootstrap/modals";
@import "bootstrap/tables";
@import "font-awesome-sprockets";
@import "font-awesome";

$brand-primary: #44CF6C;
$brand-secondary: #B4436C;
$text: #666;

// .opentok-container {
// 	.container {
// 		margin-top: 100px;
// 	}
// }

// helpers ------

.padding-top--sm {
	padding-top: 10px;
}

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

label {
	margin-top: 10px;
	margin-bottom: 0;
}

.brand-heading {
	color: $brand-secondary;
}

.panel-header {
	border: 1px solid #ccc;
	padding: 20px 20px;
	h3 {
		font-size: 20px;
		margin: 0;
	}
}

.panel-main {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-top: 0;
}

// NAV ---- 

.nav-top .navbar-brand {
	color: $brand-primary;
	font-family: 'Londrina Solid', cursive;
	font-size: 30px;
	float: left;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	&:hover {
		opacity: 0.9;
	}
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #fff;
}

.nav--item a {
	color: $brand-secondary;
	&:hover {
		color: #B51B53
	}
}

.nav-top {
	padding: 10px 0;
}

.nav-link {
	text-decoration: none;
	display: inline-block;
	color: $brand-secondary;
	&:hover {
		text-decoration: none;
	}
}

.nav-stacked > li > a {
	color: $text;
}

.nav-stacked .active a {
	color: $brand-secondary;
	font-weight: bold;
}

.btn {
	display: inline-block;
	padding: 10px 25px;
	background-color: $brand-primary;
	color: #fff;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: #fff;
		opacity: 0.9;
	}
}

.jumbotron {
	background-color: #fff;
	background-image: url('hero.jpg');
	background-size: cover;
	height: 100vh;
	padding-top: 250px;
	h2 {
		color: #000;
	}
}

.about-icon {
	width: 120px;
	margin: auto;
}


// Modal -------

.modal-content {
	border-radius: 0;
}

.like-btn {
	display: block;
	height: 60px;
	text-align: center;
	line-height: 60px;
}

.like-btn--fb {
	background-color: #3B5998;
	color: #fff;
	&:hover {
		opacity: 0.9;
		text-decoration: none;
		color: #fff
	}
}

.input-full-width {
	width: 100%;
	height: 60px;
	margin-top: 10px;
	padding: 0 10px;
	border-width: 0;
	border: 1px solid #ccc;
}

.full-width-input-primary {
	background-color: $brand-primary;
	color: #fff;
	border: 0;
	&:hover {
		opacity: 0.9;
	}
}

.large-btn {
	margin-top: 50px;
	width: 100%;
	background-color: $brand-secondary;
	color: #fff;
	padding: 20px;
	position: relative;
	&:hover {
		opacity: 0.9;
	}
	a {
		text-decoration: none;
	}
}

.large-btn-cover {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.signin-separator {
	height: 30px;
	text-align: center;
	hr {
		margin: -18px auto 10px;
		width: 100%;
	}
}

.signin-separator--text {
	padding: 9px;
	display: inline-block;
	background-color: #fff;
}

.signin-footer {
	padding-bottom: 8px;
}

.signup-choice {
	padding: 30px;
	margin-bottom: 15px;
	background-color: #eee;
}

.signup-choice--heading {
	color: $brand-secondary;
	font-size: 20px;
	font-weight: 500;
}

.signup-choice--list {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
		padding-right: 15px;
	}
}


.input-form	{
	margin-top: 40px;
}

.profile-img-placeholder {
	height: 180px;
	width: 180px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	&:before {
		content: "\f007";
		font-family: FontAwesome;
		font-size: 100px;
	}
}

.profile-img-spacer {
	margin-top: 60px;
}

.radio-gender {
	padding-bottom: 10px;
}

.hangup	{
	opacity: 0;
	height: 80px;
	width: 80px;
}

@media (min-width: 768px) {
	.modal-md {
		width: 450px;
	}
}
