<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<nav class="footer-nav">
					<ul>
						<li class="footer-link"><a href="">contact us</a></li>
						<li class="footer-link"><a href="">careers</a></li>
						<li class="footer-link"><a href="">blog</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>&copy; 2016 speak easy</p>
			</div>
		</div>
	</div>
</footer>